<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C@B AI - Navbar</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
    <body>

        <!-- Navbar -->
        <div class="nav-container">
            <nav class="navbar">
                <a href="#" class="logo">
                    C@B AI
                </a>

                <!--finish this list-->
                <ul class="nav-list">
                    <li class="nav-item"><a href="#">About</a></li>
                    <li class="nav-item"><a href="#">Tutorial</a></li>
                    <li class="nav-item"><a href="#">Demo</a></li>
                </ul>

                <button class="sign-in">
                    <a href="#" class="btn-primary">
                        <i class="fas fa-sign-in-alt icon"></i> Sign in
                    </a>
                </button>
            </nav>
        </div>

        <section class="hero-container">
            <div class="hero">
                <h1>Welcome to Courses @ Brown AI</h1>
                <p>Your Personalized Path to Success: AI Course Recommendations at Brown</p>
                <button><a href="chat.html">Get Started</a></button>
            </div>
        </section>

        <!-- Optional JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    </body>
</html>
